.buttonRounded {

  background-color: #4CAF50; /* Green */
      border: 20px;
      color: white;
      text-align: center;
      font-size: 16px;
      border-radius: 20px;
}

.unicornItem{

  border: 20px;
  border-radius: 20px;
  width: 150px;
}
